.feautures {
  padding: 125px 0;
}

.feautures__wrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 -15px;
}
.feautures__frame {
  display: flex;
  flex-direction: column;
  margin: 0 15px;
}
.feautures__frame-items-activ {
  padding: 45px 35px;
  width: 112px;
  height: 110px;
  background: #ec7979;
  border-radius: 4px;
  margin-bottom: 10px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}
.feautures__frame-items {
  padding: 45px 35px;
  width: 112px;
  height: 110px;
  background: #333333;
  border-radius: 4px;
  margin-bottom: 10px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}
.feautures__frame-items:last-child{
  margin-bottom: 0px;
}
.feautures__content {
  width: 572px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 15px;

}
.features__title {
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 14px;
  line-height: 27px;
  text-transform: uppercase;
  color: #000000;
}
.features__subtitle {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  text-transform: uppercase;
  color: #86878b;
  margin-bottom: 89px;
}
.feautures-btn {
  width: 135px;
  background: #ec7979;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  transition: 0.5s;
}
.feautures-btn a {
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  color: #ffffff;
  display: block;
  padding: 9px 29px;
}
.feautures-btn:hover {
  background-color: rgb(73, 19, 19);
  border-radius: 20px;
  transition: 0.5s;
}
.feautures__img{
  margin: 0 15px;
}
.feautures__img img{
  display: block;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
