.pricing {
  padding: 80px 0 59px;
  background-color: #f5f5f5;
}

.pricing__text-wrap {
  text-align: center;
}
.pricing__title {
  font-family: "Raleway";
  font-weight: 400;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  text-transform: uppercase;
  color: #212121;
  margin-bottom: 34px;
}
.pricing__title::after {
  content: "";
  margin: 0 auto;
  width: 64px;
  display: block;
  border: 1px solid #e72424;
  margin-top: 34px;
}
.pricing__subtitle {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #86878b;
  margin-bottom: 62px;
}
.pricing__list-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 -15px;
}
.pricing__list {
  width: 350px;
  margin: 0 15px;
}
.pricing__list-item-tarif {
  background: #333333;
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 20px;
  line-height: 50px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 1px;
  transition: 0,2s;
}
.pricing__list-item-tarif:active{
  transform: translate(0px, -30px);
  transition: 0.2s;
  box-shadow: inset 0px 0px 25px 0px rgb(207, 93, 182, 0.3)
}
.pricing__list-item-cost {
  background: #333333;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 100px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 1px;
  transition: 0.2s;
}
.pricing__list-item-cost:hover{
  transform: translate(0px, -30px);
  transition: 0.2s;
  box-shadow: inset 0px 0px 25px 0px rgb(250, 247, 245, 0.3)
 
}
.pricing__list-item-term {
  background: #333333;
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 14px;
  line-height: 50px;
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
  margin-bottom: 1px;
  transition: 0.2s;
}
.pricing__list-item-term:hover{
  transform: translate(0px, -30px);
  transition: 0.2s;
  box-shadow: inset 0px 0px 25px 0px rgb(250, 247, 245, 1)
}
.pricing__list-item {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 14px;
  line-height: 50px;
  text-align: center;
  background: #ffffff;
  color: #86878b;
  margin-bottom: 1px;
  transition: 0.2s;
}
.pricing__list-item:hover{
  transition: 0.2s;
  box-shadow: 0px 0px 25px 0px rgb(114, 145, 180, 0.3)

}
.pricing__list-item:last-child {
  margin-bottom: 0px;
}
